<h3><b> Based on this exercise, discuss the the questions in Quizizz with your group

Steps in a user-based recommendation system:

1. Select a user with the books the user has watched
2. Based on his rating to books, find the top x neighbours
3. Get the read books record of the user for each neighbour.
4. Calculate a similarity score using some formula
5. Recommend the items with the highest score

In [111]:
import pandas as pd
from math import sqrt
import numpy as np

In [112]:
books_url = 'https://raw.githubusercontent.com/Gitroars/FoDS_LEC/main/Recommendation%20System/Exercise/Books.csv'
books_df = pd.read_csv(books_url)
ratings_url = 'https://raw.githubusercontent.com/Gitroars/FoDS_LEC/main/Recommendation%20System/Exercise/Ratings.csv'
ratings_df = pd.read_csv(ratings_url)
print(books_df.info())
print(ratings_df.info())

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
None

In [113]:
userInput = [{'Book-Title':'Classical Mythology', 'Book-Rating':5},
             {'Book-Title':'Clara Callan', 'Book-Rating':3},
             {'Book-Title':'Decision in Normandy', 'Book-Rating':4},
             {'Book-Title':'Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It', 'Book-Rating':5},
             {'Book-Title':'The Mummies of Urumchi', 'Book-Rating':4.5}]
inputBooks = pd.DataFrame(userInput)
print(inputBooks)

                                          Book-Title  Book-Rating
0                                Classical Mythology          5.0
1                                       Clara Callan          3.0
2                               Decision in Normandy          4.0
3  Flu: The Story of the Great Influenza Pandemic...          5.0
4                             The Mummies of Urumchi          4.5

In [114]:
inputId = books_df[books_df['Book-Title'].isin(inputBooks['Book-Title'].tolist())]
inputBooks = pd.merge(inputId, inputBooks)
inputBooks = inputBooks[['ISBN','Book-Title','Book-Rating']]
print(inputBooks)

         ISBN                                         Book-Title  Book-Rating
0  0195153448                                Classical Mythology          5.0
1  0801319536                                Classical Mythology          5.0
2  0002005018                                       Clara Callan          3.0
3  0060973129                               Decision in Normandy          4.0
4  0374157065  Flu: The Story of the Great Influenza Pandemic...          5.0
5  0393045218                             The Mummies of Urumchi          4.5

#### Now with the `ISBN` in our input, we can now get the subset of users that have read and reviewed the books in our input. Find the similar user taste.

In [115]:
userSubset = ratings_df[ratings_df['ISBN'].isin(inputBooks['ISBN'].tolist())]
print(userSubset.groupby('ISBN').count())

            User-ID  Book-Rating
ISBN
0002005018       14           14
0060973129        3            3
0195153448        1            1
0374157065       11           11
0393045218        1            1
0801319536        1            1

In [116]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['User-ID'])

def take_5_elem(x):
    # print (len(x[1]))
    return len(x[1])
    

#Sorting it so users with book most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup, key=take_5_elem, reverse=True)

userSubsetGroup = userSubsetGroup[0:100]
print(userSubsetGroup[0:5])

[(8,       User-ID        ISBN  Book-Rating
9563        8  0002005018            5
9564        8  0060973129            0
9565        8  0374157065            0
9566        8  0393045218            0), (2,       User-ID        ISBN  Book-Rating
9561        2  0195153448            0), (2954,        User-ID        ISBN  Book-Rating
16919     2954  0060973129            8), (11400,        User-ID        ISBN  Book-Rating
43178    11400  0002005018            0), (11676,        User-ID        ISBN  Book-Rating
45340    11676  0002005018            8)]

In [117]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:

    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='ISBN')
    inputBooks = inputBooks.sort_values(by='ISBN')

    #Get the N for the formula
    nRatings = len(group)

    #Get the review scores for the books that they both have in common
    temp_df = inputBooks[inputBooks['ISBN'].isin(group['ISBN'].tolist())]

    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['Book-Rating'].tolist()
   
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['Book-Rating'].tolist()
   
    
    #Now let's calculate the pearson correlation between two users, so called, x and y manually (check the formula from week 7 slide)
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)

    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [118]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['User-ID'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
print(pearsonDF.head())

   similarityIndex  User-ID
0         -0.87831        8
1          0.00000        2
2          0.00000     2954
3          0.00000    11400
4          0.00000    11676

In [119]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
print(topUsers.head())

    similarityIndex  User-ID
14              0.0   137688
1               0.0        2
26              0.0   263325
25              0.0   219008
24              0.0   210926

In [120]:
topUsersRating=topUsers.merge(ratings_df, left_on='User-ID', right_on='User-ID', how='inner')
print(topUsersRating.head(100))

    similarityIndex  User-ID        ISBN  Book-Rating
0               0.0   137688  0020264801            0
1               0.0   137688  0020442009            0
2               0.0   137688  0060084367           10
3               0.0   137688  0060169028            9
4               0.0   137688  0060241497            6
..              ...      ...         ...          ...
95              0.0   137688  0394752996            0
96              0.0   137688  0395245109            9
97              0.0   137688  0399141308            9
98              0.0   137688  0399233806            0
99              0.0   137688  0425065553            8

[100 rows x 4 columns]

In [121]:
#Multiplies the similarity by the userâ€™s ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['Book-Rating']
print(topUsersRating.head())

   similarityIndex  User-ID        ISBN  Book-Rating  weightedRating
0              0.0   137688  0020264801            0             0.0
1              0.0   137688  0020442009            0             0.0
2              0.0   137688  0060084367           10             0.0
3              0.0   137688  0060169028            9             0.0
4              0.0   137688  0060241497            6             0.0

In [122]:
#Applies a sum to the topUsers after grouping it up by ISBN
tempTopUsersRating = topUsersRating.groupby('ISBN').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
print(tempTopUsersRating.head())

               sum_similarityIndex  sum_weightedRating
ISBN
 9022906116                    0.0                 0.0
0 7336 1053 6                  0.0                 0.0
0000000000                     0.0                 0.0
00000000000                    0.0                 0.0
0001055607                     0.0                 0.0

In [123]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()

#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['ISBN'] = tempTopUsersRating.index
print(recommendation_df.head(10))

               weighted average recommendation score           ISBN
ISBN
 9022906116                                      NaN     9022906116
0 7336 1053 6                                    NaN  0 7336 1053 6
0000000000                                       NaN     0000000000
00000000000                                      NaN    00000000000
0001055607                                       NaN     0001055607
0001055666                                       NaN     0001055666
0001837397                                       NaN     0001837397
0001841572                                       NaN     0001841572
0001848445                                       NaN     0001848445
0001900277                                       NaN     0001900277

In [124]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
print(recommendation_df)

                weighted average recommendation score            ISBN
ISBN
1881320189                                        7.0      1881320189
1575663937                                        6.0      1575663937
1567407781                                        6.0      1567407781
074322678X                                        5.0      074322678X
1552041778                                        5.0      1552041778
...                                               ...             ...
O9088446X                                         NaN       O9088446X
X000000000                                        NaN      X000000000
ZR903CX0003                                       NaN     ZR903CX0003
\0432534220\""                                    NaN  \0432534220\""
\2842053052\""                                    NaN  \2842053052\""

[17409 rows x 2 columns]

In [125]:
recommended_book=books_df.loc[books_df['ISBN'].isin(recommendation_df['ISBN'])]

#we don't want to recommend the same book
recommended_book=recommended_book.loc[~recommended_book.ISBN.isin(userSubset['ISBN'])]

print(recommended_book)

              ISBN                                         Book-Title  \
5       0399135782                             The Kitchen God's Wife
6       0425176428  What If?: The World's Foremost Military Histor...
7       0671870432                                    PLEADING GUILTY
8       0679425608  Under the Black Flag: The Romance and the Real...
9       074322678X            Where You'll Find Me: And Other Stories
...            ...                                                ...
257278  1567184960            Yule: A Celebration of Light and Warmth
258735  0306809214                           Springsteen: Point Blank
258736  0385262167  Dino: Living High in the Dirty Business of Dreams
258737  0385495625  Warriors of God: Richard the Lionheart and Sal...
259382  0143012282                              The Paperboy's Winter

                 Book-Author Year-Of-Publication                 Publisher  \
5                    Amy Tan                1991          Putnam Pub Group
6              Robert Cowley                2000  Berkley Publishing Group
7                Scott Turow                1993                Audioworks
8            David Cordingly                1996              Random House
9                Ann Beattie                2002                  Scribner
...                      ...                 ...                       ...
257278      Dorothy Morrison                2000    Llewellyn Publications
258735  Christopher Sandford                1999             Da Capo Press
258736          Nick Tosches                1992     Bantam Dell Pub Group
258737          James Reston                2002    Anchor Books/Doubleday
259382           Tim Bowling                2003      Penguin Books Canada

                                              Image-URL-S  \
5       http://images.amazon.com/images/P/0399135782.0...
6       http://images.amazon.com/images/P/0425176428.0...
7       http://images.amazon.com/images/P/0671870432.0...
8       http://images.amazon.com/images/P/0679425608.0...
9       http://images.amazon.com/images/P/074322678X.0...
...                                                   ...
257278  http://images.amazon.com/images/P/1567184960.0...
258735  http://images.amazon.com/images/P/0306809214.0...
258736  http://images.amazon.com/images/P/0385262167.0...
258737  http://images.amazon.com/images/P/0385495625.0...
259382  http://images.amazon.com/images/P/0143012282.0...

                                              Image-URL-M  \
5       http://images.amazon.com/images/P/0399135782.0...
6       http://images.amazon.com/images/P/0425176428.0...
7       http://images.amazon.com/images/P/0671870432.0...
8       http://images.amazon.com/images/P/0679425608.0...
9       http://images.amazon.com/images/P/074322678X.0...
...                                                   ...
257278  http://images.amazon.com/images/P/1567184960.0...
258735  http://images.amazon.com/images/P/0306809214.0...
258736  http://images.amazon.com/images/P/0385262167.0...
258737  http://images.amazon.com/images/P/0385495625.0...
259382  http://images.amazon.com/images/P/0143012282.0...

                                              Image-URL-L
5       http://images.amazon.com/images/P/0399135782.0...
6       http://images.amazon.com/images/P/0425176428.0...
7       http://images.amazon.com/images/P/0671870432.0...
8       http://images.amazon.com/images/P/0679425608.0...
9       http://images.amazon.com/images/P/074322678X.0...
...                                                   ...
257278  http://images.amazon.com/images/P/1567184960.0...
258735  http://images.amazon.com/images/P/0306809214.0...
258736  http://images.amazon.com/images/P/0385262167.0...
258737  http://images.amazon.com/images/P/0385495625.0...
259382  http://images.amazon.com/images/P/0143012282.0...

[14507 rows x 8 columns]